/* .app {
  padding: 20px;

  display: flex;
}

.left {
  width: 350px;
} */

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}


/* .main {
  flex: 1;
  display: flex;
} */

.bookItem {
  /* width: 15%; */
  margin-bottom: 20px;
  
}

.bookItem img {
  max-width: 100%;
}


.bookPage {
  display: flex;
}

.bookPage img {
  max-width: 260px;
}

.bookInfo {
  margin-left: 20px;
  
}

.bookHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bookHeader h1{
  font-size: 30px;
}
.bookHeader .likes {
  
}

.bookHeader button {
  margin: 0 5px;
}

.app .ant-menu > .ant-menu-item-divider {
  background-color: #666;
}